In [3]:
import os
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
os.chdir("C:\\Users\\Richard's Dell\\Documents\\Stats-404-W19-Statistical-Computing")
FILENAME = "StudentsPerformance1.csv"
DF = pd.read_csv(filepath_or_buffer=FILENAME, encoding='latin-1')
DF.columns = ['gender', 'race', 'degree', 'lunch', 'prep', 'math', 'reading', 'writing']
def total_score(math_score, reading, writing):
    return math_score + reading + writing
def average(math_score, reading, writing):
    """Function to compute average of scores"""
    return (math_score+reading+writing) / 3
def standardized_mean_score(mathavg, readingavg, writingavg):
    return mathavg+readingavg+writingavg
def standardized_std_score(mathstd, readingstd, writingstd):
    return mathstd+readingstd+writingstd
MATHAVG = DF.loc[:, "math"].mean()
READINGAVG = DF.loc[:, "reading"].mean()
WRITINGAVG = DF.loc[:, "writing"].mean()
MATHSTD = DF.loc[:, "math"].std()
READINGSTD = DF.loc[:, "reading"].std()
WRITINGSTD = DF.loc[:, "writing"].std()
DF['totalavg'] = average(DF['math'], DF['reading'], DF['writing'])
DF['pass'] = np.where(total_score(DF['math'], DF['reading'], DF['writing']) 
                      >= standardized_mean_score(MATHAVG, READINGAVG, WRITINGAVG)
                      - standardized_std_score(MATHSTD, READINGSTD, WRITINGSTD), '1', '0')
INPUT = ['gender', 'race', 'degree', 'lunch', 'prep']
OUTPUT = ['pass']
X = pd.get_dummies(DF[INPUT])
Y = np.array(DF[OUTPUT]).ravel()
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(X, Y, test_size=0.30, random_state=42)
LB = preprocessing.LabelBinarizer()
LB.fit(Y)
Y_TRAINLB = LB.transform(Y_TRAIN)
Y_TESTLB = LB.transform(Y_TEST)
CLF = LogisticRegression(random_state=0, solver='lbfgs',
                         fit_intercept=False, multi_class='multinomial')
CLF.fit(X_TRAIN, Y_TRAIN)
Y_PROB = CLF.predict_proba(X_TEST)
Y_PRED = [x[1] for x in Y_PROB]
LOGREG = pd.DataFrame({'Features':X.columns.tolist(), 'Coefficient':CLF.coef_[0]})
LOGREG['odds'] = np.exp(LOGREG['Coefficient'])
LOGREG = LOGREG.sort_values(by=['odds'], ascending=False)
LOGREG

                     Features  Coefficient      odds
14             lunch_standard     0.649210  1.914028
15             prep_completed     0.540432  1.716748
10     degree_master's degree     0.530683  1.700093
6                race_group E     0.476524  1.610466
0               gender_female     0.427323  1.533147
8    degree_bachelor's degree     0.277959  1.320432
5                race_group D     0.247013  1.280195
7   degree_associate's degree     0.168883  1.183981
1                 gender_male     0.148033  1.159551
16                  prep_none     0.034923  1.035540
4                race_group C     0.033697  1.034271
11        degree_some college     0.001894  1.001896
2                race_group A    -0.061901  0.939976
13         lunch_free/reduced    -0.073854  0.928807
3                race_group B    -0.119977  0.886941
9          degree_high school    -0.177178  0.837631
12    degree_some high school    -0.226885  0.797012

In [6]:
X.head()

,gender_female,gender_male,race_group A,race_group B,race_group C,race_group D,race_group E,degree_associate's degree,degree_bachelor's degree,degree_high school,degree_master's degree,degree_some college,degree_some high school,lunch_free/reduced,lunch_standard,prep_completed,prep_none
0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1
1,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0
2,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1
3,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0
4,1,0,0,0,1,0,0,0,0,0,1,0,0,0,1,1,0